body {
    font: Roboto;
    font-size: 14px;
    text-align: center;
}

.profile-img {
    width: 260px;
    height: auto;
    border-radius: 50%;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%; 
} 

.navbar {
    padding: 0px;
    z-index: 1;
}

.navbar-custom {
    background-color: #05386B;
}

.navbar-custom .navbar-brand {
    color: #EDF5E1;
    padding: 0px 0px 0px 10px;
    font-family: Hurricane;
    font-size: 2.5em;
}

.navbar-custom .navbar-nav .nav-link {
    color: #EDF5E1;
}

.navbar-custom .navbar-nav .nav-link:active,
.navbar-custom .navbar-nav .nav-link:hover {
    color: #5CDB95;
}

.contact-links {
    text-decoration: none;
    color: #05386B;
    padding: 0px 5px;
    font-size: 1.23em;
}

.contact-links:hover {
    color: #5CDB95;
}
  
.container-fluid {
    padding: 0px;
}

.home-section {
    padding-top: 75px;
}

.bio-title {
    font-size: 4em;
    padding-top: 20px;
    font-weight: 400;
    color: #05386B;
}

.bio-text {
    font-size: 1.15em;
    color: #05386B;
}

a img {
    width: 80px;
    height: 200px;
}

.container {
    width: 70%;
}

/* .card {
    background-color: white;
} */

.home-section {
    padding-bottom: 30px;
    padding-right: 30%;
    padding-left: 30%;
}

.video-section {
    background-color: #379683;
    padding: 20px 0px;
}

iframe {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 950px;
    height: 550px;
}

.projects-section {
    padding-bottom: 190px;
    text-align: center;
    padding-top: 90px;
    color: #05386B;
    background-color: #f5f8f1;
}

.projects-title {
    font-size: 4em;
    padding-bottom: 80px;
}

.hovereffect {
    width: 250px;
    height: 240px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #42b078;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    height: 100%;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  /* .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
  }*/
  
  /* .hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  } 
  
  .hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  } */
  
  .hovereffect a, .hovereffect p, .hovereffect h2 {
    color: #FFF;
    text-decoration: none;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    text-decoration: none;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }